.custom-bg{
    background:#637bfe!important;
}
.admin .card{
    border:1px solid red;
}
.admin .card:hover{
    background: #e2e2e2;
    cursor:pointer;
}

.list-group-item.active{
     background:#637bfe!important;
     border-color: #637bfe!important;
    
}
.discount-label{
    font-size:10px!important;
    font-style:italic!important;
    text-decoration: line-through!important;
}
.product-card:hover{
     background: #e2e2e2;
    cursor:pointer;

}